<h3>Graphs about the number of launches of each <a href="https://fastlane.tools" target="_blank">fastlane</a> tool<h3>
<h4><a href="https://github.com/fastlane/refresher" target="_blank">View the source code on GitHub</a></h4>
<h3>Cumulative launches</h3>
<canvas id="cumulative"></canvas>
<h3>Number of launches</h3>
<canvas id="daily"></canvas>


<script type="text/javascript">
  function generateGraph(sel, data, labels) {
    var ctx = $(sel).get(0).getContext("2d");
    var data = {
      labels: labels,
      datasets: data
    };
    var myLineChart = new Chart(ctx).Line(data, {
      scaleBeginAtZero: true,
      responsive: true,
      animation : false,
      multiTooltipTemplate: "<\%= datasetLabel %> - <\%= value %>"
    });
  }


  generateGraph("#daily", <%= raw(@data.collect { |k, v| v }.to_json) %>, <%= raw(@days) %>)
  generateGraph("#cumulative", <%= raw(@cumulative.to_json) %>, <%= raw(@days) %>)
</script>

<h3><a href="https://github.com/fastlane/refresher" target="_blank">View the source code of 'refresher'</a></h3>